main{
    .multimedia{
        h2{
            color: black;
            font-weight: bold;
            p{
                padding: 2rem;
                margin: 2rem;
            }

        }
    }
}

main{
    .multimedia{
        img{
            margin: 3rem;
        }
    }
}

main{
    .multimedia{
        .funcionamiento-video{
            margin: 3rem;
            
        }
    }
}