nav{
    background-color: grey;
    ul{
        li{
            font-weight: bold;
            color: black;
            font-size: 100%;
            li:hover{
                color: blue;
            }
        }
    }
}

